@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
	align-items: center;
	background: #3b4252;
	color: #efeefe;
	display: flex;
	flex-direction: column;
	font-family: 'Playfair Display', serif;
	height: 100vh;
	justify-content: center;
	margin: 0;
}

#title {
	font-size: 120px;
	margin-bottom: 12px;
}

#info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 24px;
	margin-bottom: 18px;
}

#info a {
	position: relative;
	text-decoration: none;
}

#info a::before {
	content: "";
	height: 2px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #88c0d0;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
	visibility: hidden;
}

#info a:hover::before {
	transform: scaleX(1);
	visibility: visible;
}

#links {
	display: flex;
	flex-direction: row;
	height: 48px;
	justify-content: center;
}

#links a {
	height: 100%;
	width: 100%;
	position: relative;
	margin-left: 12px;
	margin-right: 12px;
	text-align: center;
}

#links img {
	height: 100%;
}

.front {
	transition: opacity 0.5s;
}

.front:hover {
	opacity: 0;
}

.back {
	position: absolute;
	left: 0;
	z-index: -1;
}
