@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
	align-items: center;
	background: #3b4252;
	color: #efeefe;
	display: flex;
	flex-direction: column;
	font-family: 'Playfair Display', serif;
	height: 100vh;
	justify-content: center;
	margin: 0;
}

#title {
	font-size: 120px;
	padding-bottom: 12px;
}

#info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 24px;
	padding-bottom: 18px;
}

#info a {
	position: relative;
	text-decoration: none;
}

#info a::before {
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #88c0d0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

#info a:hover::before {
	visibility: visible;
    transform: scaleX(1);
}

#links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 64px;
}

#links a {
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.flip {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
	transform-style: preserve-3d;
	transition: transform 0.8s;
}

.flip:hover {
	transform: rotateY(180deg);
}

.flip img {
    height: 100%;
}

.front {
    backface-visibility: hidden;
}

.back {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    transform: rotateY(180deg);
}
